<p>fyers-home works!</p>
<div>
  Get customer

  <button (click)="getProfileData()" tuiButton>

    Cutomer dta
  </button>


</div>
<div>

  <button (click)="getsymbal()" tuiButton>
    getsymbal
  </button>
</div>
<div>
  Web socket General
  <button tuiButton (click)="generalsocketConnect()" class="data_socket">click here for data socket</button>
</div>

<div>
  Orders - Web socket
  <button tuiButton (click)="OrderWebsocketConnection()" class="data_socket">Order Web Sokcer</button>
</div>

<button (click)="getQuotes()">
  qutoets
</button>