<div class="mat-elevation-z8">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search symbols...">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="exSymbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
      <td mat-cell *matCellDef="let element">{{ element.exSymbol }}</td>
    </ng-container>

    <ng-container matColumnDef="exchangeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Exchange</th>
      <td mat-cell *matCellDef="let element">{{ element.exchangeName }}</td>
    </ng-container>

    <ng-container matColumnDef="expiryDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Expiry</th>
      <td mat-cell *matCellDef="let element">{{ element.expiryDate }}</td>
    </ng-container>

    <ng-container matColumnDef="minLotSize">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Min Lot</th>
      <td mat-cell *matCellDef="let element">{{ element.minLotSize }}</td>
    </ng-container>

    <ng-container matColumnDef="previousClose">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Previous Close</th>
      <td mat-cell *matCellDef="let element">{{ element.previousClose }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>
